@model InformacionPersonal.Models.Persona
@Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre,"Nombre: ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { Id = "Model-Nombre", @class = "form-control", @placeholder = "Carlos" } })
        @Html.ValidationMessageFor(model => model.Nombre,"", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoPaterno, "Apellido paterno: ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { Id = "Model-ApellidoPaterno", @class = "form-control", @placeholder = "Perez" } })
        @Html.ValidationMessageFor(model => model.ApellidoPaterno,"", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoMaterno,"Apellido materno: ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { Id = "Model-ApellidoMaterno", @class = "form-control", @placeholder = "Molina" } })
        @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CURP,"CURP: ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CURP, new { htmlAttributes = new { Id = "Model-CURP", @class = "form-control", @placeholder = "PEMC110313HCMLNS09" } })
        @Html.ValidationMessageFor(model => model.CURP, "", new { @class = "text-danger" })
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
        <a href="javascript:crear(0);" class="btn btn-success" title="Crear Persona"><span class="glyphicon glyphicon-save" /> Guardar</a>
    </div>
</div>