@model InformacionPersonal.Models.Persona
@using (Ajax.BeginForm("Delete", "Personas", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "persona",
    HttpMethod = "Post",
    OnSuccess = "mensajeExito"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    <div>
        <dl class="dl-horizontal">
            <dt>
                <span>ID</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                <span>Nombre</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                <span>Apellido Paterno</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoPaterno)
            </dd>

            <dt>
                <span>Apellido Materno</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoMaterno)
            </dd>

            <dt>
                <span>CURP</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CURP)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <input type="submit" value="Aceptar" class="btn btn-danger" />
        </div>
    </div>
}
