@model InformacionPersonal.Models.Persona

<div class="form-horizontal" style="margin-left:50px;">
    @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { Id = "Model-ID" } })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, "Nombre: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoPaterno, "Apellido paterno: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.ApellidoPaterno)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoMaterno, "Apellido materno: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.ApellidoMaterno)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CURP, "CURP: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.CURP)
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
</div>
