@model  InformacionPersonal.Models.PersonasList
@Html.AntiForgeryToken()
<div class="table-responsive" id="dvPersonasInfo">
    <table class="table table-condensed personasInfo">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido paterno
            </th>
            <th>
                Apellido materno
            </th>
            <th>
                CURP
            </th>
            <th></th>
        </tr>
        @foreach (InformacionPersonal.Models.Persona item in Model.Personas)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                <a href="javascript:detallesModal(@item.ID);" class="btn btn-info detallePersona" data-id="@item.ID" title="Detalles"><span class="glyphicon glyphicon-eye-open" /></a>
                <a href="javascript:editarModal(@item.ID);" class="btn btn-warning editarPersona" data-id="@item.ID" title="Editar"><span class="glyphicon glyphicon-edit" /></a>
                <a href="javascript:eliminarModal(@item.ID);" class="btn btn-danger eliminarPersona" data-id="@item.ID" title="Eliminar"><span class="glyphicon glyphicon-remove" /></a>
            </td>
        </tr>
        }
    </table>
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
            <td>
                &nbsp;
                @if (i != (Model.CurrentPageIndex))
                {
                <a href="javascript:filtrar(@i);" class="btn btn-default" title="Filtrar"> @i </a>
                }
                else
                {
                <span>@i</span>
                }
            </td>
            }
        </tr>
    </table>
</div>

<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
<script>

   
</script>
