@model  InformacionPersonal.Models.PersonasList

@{
    ViewBag.Title = "Lista de personas";

}

<h2>Listado de Personas</h2>
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.EditorFor(model => model.Filtro.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.CURP, new { htmlAttributes = new { @class = "form-control", @placeholder = "CURP" } })
            </td>
            <td>
                <a href="javascript:filtrar(1);" class="btn btn-info" title="Filtrar"><span class="glyphicon glyphicon-filter" /> Filtrar</a>
            </td>
        </tr>
    </table>
    <br />
    @*<input type="submit" value="Buscar" />*@
    @*</form>*@
</div>

<p>
    <a href="javascript:void(0);" class="btn btn-success crearPersona" title="Crear Persona"><span class="glyphicon glyphicon-user" > Crear</span></a>
</p>
<div id="listPersonas">
    @{ Html.RenderPartial("_ListPartial", Model); }
</div>

@section scripts {
    <script>
        var ajaxCallEditURL = "/Personas/EditPartial";
        var ajaxCallCreateURL = "/Personas/CreatePartial";
        var ajaxCallDetailsURL = "/Personas/DetailsPartial";
        var ajaxCallDeleteURL = "/Personas/DeletePartial";
        var ajaxCallListaURL = "/Personas/ListaPersonas";
        //Abre el modal para crear un registro
        $(function () {
            $(".crearPersona").click(function () {
                var $buttonClicked = $(this);
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallCreateURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Crear Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".editarPersona").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallEditURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { id: id },
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Editar Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".detallePersona").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallDetailsURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { id: id },
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Detalle de Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".eliminarPersona").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallDeleteURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { id: id },
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Está a punto de borrar el siguiente registro. ¿Desea continuar?</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                debugger;
                $("#divModal").modal("hide");
            });
        });

        function filtrar(pageindex) {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            $.ajax({
                type: "POST",
                url: '/Personas/ListaPersonas',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                data: JSON.stringify(
                    {
                        "currentPageIndex": pageindex,
                    "Nombre": document.getElementById("Filtro_Nombre").value,
                    "ApellidoPaterno": document.getElementById("Filtro_ApellidoPaterno").value,
                    "ApellidoMaterno": document.getElementById("Filtro_ApellidoMaterno").value,
                    "CURP": document.getElementById("Filtro_CURP").value
                    }),
                success: function (data) {
                    $("#listPersonas").html(data);
                },
                error: function (data) {
                    debugger;
                    alert(data.responseText);
                }
            });
        }

        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
        }

        function mensajeExito() {
            alert("Registro Guardado exitosamente.");
        }
    </script>
}


<div id="divModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>
                <h3 id="modal_title" class="modal-title"></h3>
            </div>
            <div id="divModalContent" class="modal-body">
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/images/load.gif" width="70" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divMessages" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>
                <h3 id="modal_title" class="modal-title"></h3>
            </div>
            <div id="divModalContent" class="modal-body">
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/images/load.gif" width="70" />
                </div>
            </div>
        </div>
    </div>
</div>