@model  InformacionPersonal.Models.PersonasList

@{
    ViewBag.Title = "Lista de personas";

}

<h2>Listado de Personas</h2>
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.EditorFor(model => model.Filtro.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno" } })
            </td>
            <td>
                @Html.EditorFor(model => model.Filtro.CURP, new { htmlAttributes = new { @class = "form-control", @placeholder = "CURP" } })
            </td>
            <td>
                <a href="javascript:filtrar(1);" class="btn btn-info" title="Filtrar"><span class="glyphicon glyphicon-filter" /> Filtrar</a>
            </td>
        </tr>
    </table>
    <br />
</div>

<p>
    <a href="javascript:void(0);" class="btn btn-success crearPersona" title="Crear Persona"><span class="glyphicon glyphicon-user"> Agregar</span></a>
</p>
<div id="listPersonas">
    @{ Html.RenderPartial("_ListPartial", Model); }
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/ServicesConsumer.js")"></script>
}

<div id="divModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>
                <h3 id="modal_title" class="modal-title"></h3>
            </div>
            <div id="divModalContent" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="message" class="alert alert-success alert-message fade">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Éxito!</strong> <span id="txtMessage"></span>
</div>