@model IEnumerable<InformacionPersonal.Models.Persona>

@{
    ViewBag.Title = "Lista de personas";
}

<h2>Listado de Personas</h2>

<p>
    <a href="javascript:void(0);" class="btn btn-success crearPersona" title="Crear Persona"><span class="glyphicon glyphicon-user"/> Crear Persona</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                <a href="javascript:void(0);" class="btn btn-info detallePersona" data-id="@item.ID" title="Detalles"><span class="glyphicon glyphicon-eye-open"/></a>
                <a href="javascript:void(0);" class="btn btn-warning editarPersona" data-id="@item.ID" title="Editar"><span class="glyphicon glyphicon-edit"/></a>                
                <a href="javascript:void(0);" class="btn btn-danger eliminarPersona" data-id="@item.ID" title="Eliminar"><span class="glyphicon glyphicon-remove"/></a>
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        var ajaxCallEditURL = "/Personas/EditPartial";
        var ajaxCallCreateURL = "/Personas/CreatePartial";
        var ajaxCallDetailsURL = "/Personas/DetailsPartial";
        //Abre el modal para crear un registro
        $(function () {
            $(".crearPersona").click(function () {
                var $buttonClicked = $(this);
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallCreateURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Crear Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".editarPersona").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallEditURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { id: id },
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Editar Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });

            $(".detallePersona").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr("data-id");
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
                $.ajax({
                    type: "GET",
                    url: ajaxCallDetailsURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { id: id },
                    success: function (data) {
                        //debugger;
                        $("#divModalContent").html(data);
                        $("#modal_title").html("<span>Detalle de Registro</span>");
                        $("#divModal").modal(options);
                        $("#divModal").modal("show");
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                debugger;
                $("#divModal").modal("hide");
            });
        });
    </script>
}
<table style="background-color:orange; width:100%; border:solid5pxgreen; padding:20px;">
    <tr>
        <td align="center"
            style="padding:20px;">
            <a href="javascript:void(0);" class="getAllEMP" style="font-size:20pt;">Get All Employee Information</a>
        </td>
    </tr>
</table>

@*<div id="divModal" class="modal fade" style="text-align:right; ">
        <div class="modal-dialog" style="width:900px; height:400px; padding:10px;">
            <div class="modal-content" style="overflow: auto; padding:10px; background-color:#d2f5f4;">
                <button type="button" id="closbtn">x</button>
                <div style="height:10px;">
                </div>
                <div id="divModalContent" style="width:850px; height:400px; padding:10px;">
                </div>
            </div>
        </div>
    </div>*@

<div id="divModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>
                <h3 id="modal_title" class="modal-title"></h3>
            </div>
            <div id="divModalContent" class="modal-body">
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/images/load.gif" width="70" />
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="crearPersona">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>
                    <h3 class="modal-title">Crear Persona</h3>
                </div>
                <div class="modal-body">
                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/Content/images/load.gif" width="70" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Guardar" class="btn btn-success" id="btnSubmit" />
                    </div>

                </div>
            </div>
        </div>

    </div>*@